
.addNumber {
    padding: 3em;
    background-color: pink;
    color: black;
    border-radius: 1cm;
    font-size: 100;
    font-weight: bolder;
  }
  .sum {
      background-color: chartreuse;
  }
  .inputYourNumber {
      background-color: chartreuse;
  }