.sportTitle1 {
  color: black;
  background-color: yellowgreen;
  width: 100px;
  height: 50px;
  margin: 1px;
  border-radius: 1em 1px;
  padding: 1em;
  text-align: center;
}
.sportTitle2 {
  color:yellowgreen;
  background-color: black;
  width: 100px;
  height: 50px;
  margin: 1px;
  border-radius: 1em 1px;
  padding: 1em;
}
.header1 {
  display: flex;
  margin: 2em;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
  grid-gap: 1em;
  border-radius: 1em;
}
.grid > div:nth-child(odd){
  background-color: lightgray;
  padding: 1em;
  border-radius: 1em;
}
.grid > div:nth-child(even){
  background-color: #eee;
  padding: 1em;
  border-radius: 1em;
}
.total {
  text-align: center;
  color: black;
  background-color: yellowgreen;
  font-weight: bolder;
  border: dotted;
  border-color: black;
  border-radius: 1em 1px;
  padding: 1em;
  margin: 1em;
  width: 100px;
  height: 50px;
}

