.sportTitle1 {
  color: #000000;
  background-color: yellowgreen;
  width: 100px;
  height: 50px;
  margin: 1px;
  border-radius: 1em 1px;
  padding: 1em;
  text-align: center;
}
.sportTitle2 {
  color:#9acd32;
  background-color: black;
  width: 100px;
  height: 50px;
  margin: 1px;
  border-radius: 1em 1px;
  padding: 1em;
}
.header1 {
  display: flex;
  margin: 2em;
}
.header2 {
  display: flex;
  margin: 2px;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; 
  grid-gap: 1em;
  font-size: smaller;
  border-radius: 1em;
}
.grid > div:nth-child(odd){
  background-color: lightgray;
  padding: 1em;
  border-radius: 1em;
}
.grid > div:nth-child(even){
  background-color: #eee;
  padding: 1em;
  border-radius: 1em;
}
.total1 {
  text-align: center;
  color: black;
  background-color: yellowgreen;
  font-weight: bolder;
  border: dotted;
  border-color: black;
  border-radius: 1em 1px;
  padding: 1em;
  margin: 1px 1px 1px 300px;
  width: 100px;
  height: 50px;
}
.total2 {
  text-align: center;
  color: black;
  background-color: yellowgreen;
  font-weight: bolder;
  border: dotted;
  border-color: black;
  border-radius: 1em 1px;
  padding: 1em;
  margin: 2px;
  width: 100px;
  height: 50px;
}
.inverted-color {
  background-color: lightslategrey;
}
.grid > div:hover {
  background-color: yellowgreen;
}
h2.sportTitle1:hover {
  background-color: black;
  color: yellowgreen
}
h2.sportTitle2:hover {
  background-color: yellowgreen;
  color: black
}